<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projectmanager.dada">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 创建与删除权限 -->
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="26014d4e525d106d54929b790aa25ec3" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
             />
        <activity android:name=".pages.ResetPasswordActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.PublishTaskStepOneActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.PublishTaskStepTwoActivity"
            android:parentActivityName=".pages.PublishTaskStepOneActivity"/>
        <activity android:name=".pages.PublishTaskStepThreeActivity"
            android:parentActivityName=".pages.PublishTaskStepTwoActivity"/>
        <activity android:name=".CheckPermissionsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.UsernameModifyActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.UserBioModifyActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.TaskDetailActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.MyPublishTaskDetailActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.MyAcceptTaskDetailActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".pages.ProjectInstructionActivity"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>